<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>میکروسرویس گروه ۱</title>

    <link rel="stylesheet" href="{% static 'team3/styles/common.css' %}">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="writing">
      <img class="rectangle" src="img/rectangle-39.svg" />
      <div class="div"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <img class="profile" src="../IELTS/images/profile.png" />
      <div class="text-wrapper">خروج</div>
      <div class="text-wrapper-2">توقف/ادامه</div>
      <div class="text-wrapper-3">name</div>
      <div class="text-wrapper-4">59:02</div>
      <div class="exam-number">exam number 1 <br />writing</div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="text-wrapper-5">Question 1</div>
      <div class="text-wrapper-6">how are you today?</div>
      <p class="p">so today i am ...</p>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
      <div class="text-wrapper-7">Question 1</div>
      <div class="text-wrapper-8">how are you today?</div>
      <div class="text-wrapper-9">Finish</div>
      <div class="rectangle-9"></div>
      <p class="text-wrapper-10">so today i am ...</p>
    </div>
  </body>
</html>
