.writing {
  background-color: #f9f7f7;
  overflow: hidden;
  width: 100%;
  min-width: 1421px;
  min-height: 1011px;
  position: relative;
}

.writing .rectangle {
  position: absolute;
  top: -2801px;
  left: -646px;
  width: 285px;
  height: 63px;
}

.writing .div {
  position: absolute;
  top: 9px;
  left: 1226px;
  width: 161px;
  height: 69px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.writing .rectangle-2 {
  position: absolute;
  top: 9px;
  left: 1040px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.writing .rectangle-3 {
  position: absolute;
  top: 13px;
  left: 41px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.writing .profile {
  position: absolute;
  top: 19px;
  left: 43px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.writing .text-wrapper {
  top: 8px;
  left: 1226px;
  direction: rtl;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-2 {
  top: 8px;
  left: 1041px;
  direction: rtl;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-3 {
  position: absolute;
  top: 14px;
  left: 57px;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-4 {
  top: 14px;
  left: 142px;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .exam-number {
  position: absolute;
  top: 16px;
  left: 543px;
  width: 262px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .rectangle-4 {
  position: absolute;
  top: 92px;
  left: 43px;
  width: 1344px;
  height: 899px;
  background-color: #ffffff;
  border-radius: 40px;
}

.writing .rectangle-5 {
  position: absolute;
  top: 115px;
  left: 57px;
  width: 1310px;
  height: 355px;
  background-color: #b0cafff5;
  border-radius: 40px;
}

.writing .rectangle-6 {
  position: absolute;
  top: 202px;
  left: 81px;
  width: 1262px;
  height: 252px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.writing .text-wrapper-5 {
  position: absolute;
  top: 115px;
  left: 557px;
  width: 274px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-6 {
  position: absolute;
  top: 150px;
  left: 436px;
  width: 513px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .p {
  position: absolute;
  top: 202px;
  left: 81px;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .rectangle-7 {
  position: absolute;
  top: 481px;
  left: 57px;
  width: 1310px;
  height: 355px;
  background-color: #3a5ba0b2;
  border-radius: 40px;
}

.writing .rectangle-8 {
  position: absolute;
  top: 848px;
  left: 396px;
  width: 609px;
  height: 123px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.writing .text-wrapper-7 {
  position: absolute;
  top: 481px;
  left: 557px;
  width: 274px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-8 {
  position: absolute;
  top: 516px;
  left: 437px;
  width: 513px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .text-wrapper-9 {
  position: absolute;
  top: 848px;
  left: 498px;
  width: 390px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.writing .rectangle-9 {
  position: absolute;
  top: 569px;
  left: 84px;
  width: 1262px;
  height: 252px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.writing .text-wrapper-10 {
  position: absolute;
  top: 569px;
  left: 84px;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
