<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>انتخاب آزمون</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/team13/styles/style.css">
</head>

<body class="dark-mode page-enter">

<header class="main-header">
  <div class="header-right">
    <div class="header-icon" title="خانه" onclick="window.location.href=''">🏠</div>
    <button class="header-icon" id="themeBtn" type="button" title="تغییر تم">☀️</button>
  </div>

  <h2 class="header-title">نام محصول</h2>

  <div class="header-back" title="بازگشت" data-back>❯</div>
</header>

<main class="container">
  <div class="card choose-card">

    <!-- تصویر سمت چپ -->
    <div class="card-image">
      <img src="../../static/team13/public/images/writing_exam_image.png" alt="انتخاب آزمون">
    </div>

    <div class="card-content">
      <h3>انتخاب آزمون</h3>
      <h1>CHOOSE YOUR EXAM</h1>

      <p class="description-text">
        لطفاً نوع آزمون را انتخاب کنید. در آزمون رایتینگ پاسخ را تایپ می‌کنید
        و در آزمون اسپیکینگ پاسخ را با صدای خود ضبط می‌کنید.
      </p>

      <!-- دکمه ها افقی و هم اندازه -->
      <div class="exam-buttons">
        <button class="btn-start btn-choice" id="writingBtn" type="button" data-label="آزمون رایتینگ">آزمون رایتینگ</button>
        <button class="btn-start btn-choice" id="speakingBtn" type="button" data-label="آزمون اسپیکینگ">آزمون اسپیکینگ</button>
      </div>
    </div>

  </div>
</main>


<script src="/static/team13/scripts/app.js"></script>

<script>
  const writingBtn = document.getElementById("writingBtn");
  const speakingBtn = document.getElementById("speakingBtn");

  function pageExitThenGo(url){
    document.body.classList.remove("page-enter");
    document.body.classList.add("page-exit");
    setTimeout(() => (window.location.href = url), 160);
  }

  writingBtn.addEventListener("click", () => {
    pageExitThenGo("writing/");
  });

  speakingBtn.addEventListener("click", () => {
    pageExitThenGo("speaking/");
  });
</script>

</body>
</html>
