<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>میکروسرویس گروه ۱</title>

    <link rel="stylesheet" href="{% static 'team3/styles/common.css' %}">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="feadback">
      <div class="frame"><div class="rectangle"></div></div>
      <div class="rectangle-wrapper"><div class="div"></div></div>
      <img class="img" src="img/rectangle-39.svg" />
      <div class="text-wrapper">ازمون شماره ۱</div>
      <div class="text-wrapper-2">نوع ازمون: ایلتس</div>
      <div class="text-wrapper-3">تاریخ برگزاری: 10-2-2025</div>
      <div class="div-wrapper"><div class="rectangle-2"></div></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="text-wrapper-4">speaking</div>
      <div class="text-wrapper-5">writing</div>
      <div class="text-wrapper-6">reading</div>
      <div class="text-wrapper-7">listening</div>
      <div class="text-wrapper-8">ازمون شماره ۱</div>
      <div class="text-wrapper-9">نوع ازمون: تافل</div>
      <div class="text-wrapper-10">تاریخ برگزاری: 10-2-2025</div>
      <div class="frame-2"><div class="rectangle-7"></div></div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
      <div class="rectangle-11"></div>
      <div class="text-wrapper-11">speaking</div>
      <div class="text-wrapper-12">writing</div>
      <div class="text-wrapper-13">reading</div>
      <div class="text-wrapper-14">listening</div>
      <div class="text-wrapper-15">ازمون شماره ۲</div>
      <div class="text-wrapper-16">نوع ازمون: ایلتس</div>
      <div class="text-wrapper-17">تاریخ برگزاری: 10-2-2025</div>
      <img class="settings" src="../IELTS/images/setting.png" />
      <img class="iran" src="../IELTS/images/iran.png" />
      <div class="rectangle-12"></div>
      <div class="rectangle-13"></div>
      <div class="rectangle-14"></div>
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
      <img class="profile" src="../IELTS/images/profile.png" />
      <div class="rectangle-17"></div>
      <div class="rectangle-18"></div>
      <div class="rectangle-19"></div>
      <div class="rectangle-20"></div>
      <div class="rectangle-21"></div>
      <div class="rectangle-22"></div>
      <div class="rectangle-23"></div>
      <div class="rectangle-24"></div>
      <div class="rectangle-25"></div>
      <div class="text-wrapper-18">برگزاری ازمون</div>
      <div class="text-wrapper-19">شروع یادگیری</div>
      <div class="text-wrapper-20">خانه</div>
      <div class="text-wrapper-21">درباره ما</div>
      <div class="text-wrapper-22">ورود</div>
      <div class="text-wrapper-23">فیدبک ازمون</div>
      <div class="text-wrapper-24">میکروسرویس 3</div>
      <div class="text-wrapper-25">میکروسرویس 4</div>
      <div class="text-wrapper-26">میکروسرویس 5</div>
      <div class="text-wrapper-27">میکروسرویس 6</div>
      <div class="text-wrapper-28">میکروسرویس 7</div>
      <div class="text-wrapper-29">میکروسرویس 8</div>
      <div class="text-wrapper-30">میکروسرویس 9</div>
      <div class="text-wrapper-31">میکروسرویس 10</div>
      <div class="frame-3">
        <p class="p">
          <span class="span">فیدبک و بررسی ازمون با هوش مصنوعی<br /></span>
          <span class="text-wrapper-32"><br /></span>
          <span class="text-wrapper-33">همین حالا ازمون تو انتخاب کن و فیدبک بگیر!</span>
        </p>
        <img class="adobestock" src="img.png" />
      </div>
      <div class="rectangle-26"></div>
      <div class="rectangle-27"></div>
      <div class="rectangle-28"></div>
      <div class="rectangle-29"></div>
      <div class="text-wrapper-34">speaking</div>
      <div class="text-wrapper-35">writing</div>
      <div class="text-wrapper-36">reading</div>
      <div class="text-wrapper-37">listening</div>
    </div>
  </body>
</html>
