.feadback {
  background-color: #f9f7f7;
  overflow: hidden;
  width: 100%;
  min-width: 1421px;
  min-height: 1011px;
  position: relative;
}

.feadback .frame {
  display: flex;
  flex-direction: column;
  width: 1167px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 68px;
  left: -10px;
}

.feadback .rectangle {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 951px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 456px;
  left: 795px;
}

.feadback .div {
  position: relative;
  width: 303px;
  height: 459px;
  background-color: #b0cafff5;
  border-radius: 40px;
}

.feadback .img {
  position: absolute;
  top: 559px;
  left: -2107px;
  width: 285px;
  height: 63px;
}

.feadback .text-wrapper {
  position: absolute;
  top: 467px;
  left: 839px;
  width: 238px;
  height: 95px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-2 {
  position: absolute;
  top: 511px;
  left: 870px;
  width: 176px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-3 {
  position: absolute;
  top: 550px;
  left: 848px;
  width: 222px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 456px;
  left: 436px;
}

.feadback .rectangle-2 {
  position: relative;
  width: 307px;
  height: 459px;
  background-color: #3a5ba0c9;
  border-radius: 40px;
}

.feadback .rectangle-3 {
  position: absolute;
  top: 625px;
  left: 454px;
  width: 285px;
  height: 63px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-4 {
  position: absolute;
  top: 700px;
  left: 455px;
  width: 285px;
  height: 63px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-5 {
  position: absolute;
  top: 775px;
  left: 455px;
  width: 285px;
  height: 63px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-6 {
  position: absolute;
  top: 849px;
  left: 452px;
  width: 285px;
  height: 63px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .text-wrapper-4 {
  position: absolute;
  top: 625px;
  left: 501px;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-5 {
  position: absolute;
  top: 700px;
  left: 507px;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-6 {
  position: absolute;
  top: 773px;
  left: 503px;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-7 {
  position: absolute;
  top: 851px;
  left: 501px;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-8 {
  position: absolute;
  top: 467px;
  left: 476px;
  width: 238px;
  height: 95px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-9 {
  position: absolute;
  top: 511px;
  left: 507px;
  width: 176px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-10 {
  position: absolute;
  top: 550px;
  left: 485px;
  width: 222px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 456px;
  left: 47px;
}

.feadback .rectangle-7 {
  position: relative;
  width: 307px;
  height: 459px;
  background-color: #b0cafff5;
  border-radius: 40px;
}

.feadback .rectangle-8 {
  position: absolute;
  top: 622px;
  left: 68px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-9 {
  position: absolute;
  top: 697px;
  left: 69px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-10 {
  position: absolute;
  top: 772px;
  left: 69px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-11 {
  position: absolute;
  top: 846px;
  left: 68px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .text-wrapper-11 {
  top: 629px;
  left: 115px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-12 {
  top: 705px;
  left: 117px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-13 {
  top: 777px;
  left: 117px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-14 {
  top: 855px;
  left: 115px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-15 {
  position: absolute;
  top: 467px;
  left: 91px;
  width: 238px;
  height: 95px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-16 {
  position: absolute;
  top: 511px;
  left: 118px;
  width: 176px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-17 {
  position: absolute;
  top: 550px;
  left: 100px;
  width: 222px;
  height: 95px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .settings {
  position: absolute;
  top: 24px;
  left: 269px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.feadback .iran {
  position: absolute;
  top: 24px;
  left: 209px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.feadback .rectangle-12 {
  position: absolute;
  top: 94px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-13 {
  position: absolute;
  top: 13px;
  left: 1013px;
  width: 161px;
  height: 69px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-14 {
  position: absolute;
  top: 17px;
  left: 674px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-15 {
  position: absolute;
  top: 13px;
  left: 844px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-16 {
  position: absolute;
  top: 13px;
  left: 41px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .profile {
  position: absolute;
  top: 19px;
  left: 43px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.feadback .rectangle-17 {
  position: absolute;
  top: 186px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #dde8fe;
  border-radius: 40px;
}

.feadback .rectangle-18 {
  position: absolute;
  top: 278px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-19 {
  position: absolute;
  top: 370px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-20 {
  position: absolute;
  top: 462px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-21 {
  position: absolute;
  top: 554px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-22 {
  position: absolute;
  top: 646px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-23 {
  position: absolute;
  top: 738px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-24 {
  position: absolute;
  top: 830px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .rectangle-25 {
  position: absolute;
  top: 922px;
  left: 1195px;
  width: 226px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 40px;
}

.feadback .text-wrapper-18 {
  position: absolute;
  top: 94px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-19 {
  position: absolute;
  top: 14px;
  left: 846px;
  width: 160px;
  height: 64px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-20 {
  position: absolute;
  top: 14px;
  left: 1015px;
  width: 160px;
  height: 64px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-21 {
  position: absolute;
  top: 14px;
  left: 675px;
  width: 160px;
  height: 64px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-22 {
  position: absolute;
  top: 14px;
  left: 57px;
  width: 160px;
  height: 64px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-23 {
  position: absolute;
  top: 186px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-24 {
  position: absolute;
  top: 278px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-25 {
  position: absolute;
  top: 369px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-26 {
  position: absolute;
  top: 465px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-27 {
  position: absolute;
  top: 556px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-28 {
  position: absolute;
  top: 643px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-29 {
  position: absolute;
  top: 738px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-30 {
  position: absolute;
  top: 835px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .text-wrapper-31 {
  position: absolute;
  top: 917px;
  left: 1215px;
  width: 185px;
  height: 79px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 54px;
  padding: 0px 15px;
  position: absolute;
  top: 132px;
  left: 85px;
}

.feadback .p {
  position: relative;
  width: 561px;
  height: 248px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0754;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.feadback .span {
  font-weight: 700;
}

.feadback .text-wrapper-32 {
  font-weight: 700;
  font-size: 22px;
}

.feadback .text-wrapper-33 {
  font-family: "Inria Serif-Regular", Helvetica;
  font-size: 24px;
}

.feadback .adobestock {
  position: relative;
  width: 393px;
  height: 312px;
  aspect-ratio: 1.26;
}

.feadback .rectangle-26 {
  position: absolute;
  top: 625px;
  left: 815px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-27 {
  position: absolute;
  top: 700px;
  left: 816px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-28 {
  position: absolute;
  top: 775px;
  left: 816px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .rectangle-29 {
  position: absolute;
  top: 849px;
  left: 815px;
  width: 285px;
  height: 63px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.feadback .text-wrapper-34 {
  top: 625px;
  left: 862px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-35 {
  top: 701px;
  left: 864px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-36 {
  top: 773px;
  left: 864px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.feadback .text-wrapper-37 {
  top: 851px;
  left: 862px;
  position: absolute;
  width: 187px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
