<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>میکروسرویس گروه ۱</title>

    <link rel="stylesheet" href="{% static 'team3/styles/common.css' %}">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="exam-page">
      <div class="rectangle"></div>
      <img class="settings" src="../IELTS/images/setting.png" />
      <img class="iran" src="../IELTS/images/iran.png" />
      <img class="support" src="../IELTS/images/support.png" />
      <div class="div"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
      <img class="profile" src="../IELTS/images/profile.png" />
      <div class="rectangle-11"></div>
      <div class="rectangle-12"></div>
      <div class="rectangle-13"></div>
      <div class="rectangle-14"></div>
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
      <div class="rectangle-17"></div>
      <div class="rectangle-18"></div>
      <div class="rectangle-19"></div>
      <div class="text-wrapper">برگزاری ازمون</div>
      <div class="text-wrapper-2">شروع یادگیری</div>
      <div class="text-wrapper-3">خانه</div>
      <div class="text-wrapper-4">درباره ما</div>
      <div class="text-wrapper-5">ورود</div>
      <div class="text-wrapper-6">فیدبک ازمون</div>
      <div class="text-wrapper-7">میکروسرویس 3</div>
      <div class="text-wrapper-8">میکروسرویس 4</div>
      <div class="text-wrapper-9">میکروسرویس 5</div>
      <div class="text-wrapper-10">میکروسرویس 6</div>
      <div class="text-wrapper-11">میکروسرویس 7</div>
      <div class="text-wrapper-12">میکروسرویس 8</div>
      <div class="text-wrapper-13">میکروسرویس 9</div>
      <div class="text-wrapper-14">میکروسرویس 10</div>
      <img class="telegram" src="../IELTS/images/telegram.png" />
      <img class="instagram" src="../IELTS/images/instagram.png" />
      <p class="p">ما را در شبکه‌های اجتماعی دنبال کنید !</p>
      <div class="frame">
        <p class="div-2">
          <span class="span">شبیه ساز ازمون های تافل<br /></span>
          <span class="text-wrapper-15"><br /></span>
          <span class="text-wrapper-16">همین حالا اولین ازمون رو شروع کن!</span>
        </p>
        <img class="myic" src="img.png" />
      </div>
      <div class="text-wrapper-17">ازمون شماره ۱</div>
      <div class="text-wrapper-18">speaking</div>
      <div class="text-wrapper-19">writing</div>
      <div class="text-wrapper-20">reading</div>
      <div class="text-wrapper-21">listening</div>
      <div class="rectangle-20"></div>
      <div class="rectangle-21"></div>
      <div class="rectangle-22"></div>
      <div class="rectangle-23"></div>
      <div class="rectangle-24"></div>
      <div class="text-wrapper-22">ازمون شماره 3</div>
      <div class="text-wrapper-23">speaking</div>
      <div class="text-wrapper-24">writing</div>
      <div class="text-wrapper-25">reading</div>
      <div class="text-wrapper-26">listening</div>
      <div class="text-wrapper-27">speaking</div>
      <div class="text-wrapper-28">writing</div>
      <div class="text-wrapper-29">reading</div>
      <div class="text-wrapper-30">listening</div>
      <div class="rectangle-25"></div>
      <div class="rectangle-26"></div>
      <div class="rectangle-27"></div>
      <div class="rectangle-28"></div>
      <div class="rectangle-29"></div>
      <div class="text-wrapper-31">ازمون شماره 2</div>
      <div class="text-wrapper-32">speaking</div>
      <div class="text-wrapper-33">writing</div>
      <div class="text-wrapper-34">reading</div>
      <div class="text-wrapper-35">listening</div>
    </div>
  </body>
</html>
