<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>میکروسرویس گروه ۱</title>

    <link rel="stylesheet" href="{% static 'team3/styles/common.css' %}">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="speaking">
      <img class="rectangle" src="img/rectangle-39.svg" />
      <div class="div"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <img class="profile" src="../IELTS/images/profile.png" />
      <div class="text-wrapper">خروج</div>
      <div class="text-wrapper-2">توقف/ادامه</div>
      <div class="text-wrapper-3">name</div>
      <div class="text-wrapper-4">59:02</div>
      <div class="text-wrapper-5">exam number 1 speaking</div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="rectangle-7"></div>
      <div class="text-wrapper-6">Question 1</div>
      <div class="text-wrapper-7">how are you today?</div>
      <div class="text-wrapper-8">record voice</div>
      <div class="text-wrapper-9">upload voice</div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
      <div class="rectangle-11"></div>
      <div class="text-wrapper-10">Question 1</div>
      <div class="text-wrapper-11">how are you today?</div>
      <div class="text-wrapper-12">record voice</div>
      <div class="text-wrapper-13">upload voice</div>
      <div class="rectangle-12"></div>
      <div class="rectangle-13"></div>
      <div class="rectangle-14"></div>
      <div class="text-wrapper-14">Question 1</div>
      <div class="text-wrapper-15">how are you today?</div>
      <div class="text-wrapper-16">record voice</div>
      <div class="text-wrapper-17">upload voice</div>
      <div class="text-wrapper-18">Finish</div>
    </div>
  </body>
</html>
