.speaking {
  background-color: #f9f7f7;
  overflow: hidden;
  width: 100%;
  min-width: 1421px;
  min-height: 1011px;
  position: relative;
}

.speaking .rectangle {
  position: absolute;
  top: -1681px;
  left: -646px;
  width: 285px;
  height: 63px;
}

.speaking .div {
  position: absolute;
  top: 9px;
  left: 1226px;
  width: 161px;
  height: 69px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .rectangle-2 {
  position: absolute;
  top: 9px;
  left: 1040px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.speaking .rectangle-3 {
  position: absolute;
  top: 13px;
  left: 41px;
  width: 161px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 40px;
}

.speaking .profile {
  position: absolute;
  top: 19px;
  left: 43px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.speaking .text-wrapper {
  top: 8px;
  left: 1226px;
  direction: rtl;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-2 {
  top: 8px;
  left: 1041px;
  direction: rtl;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-3 {
  position: absolute;
  top: 14px;
  left: 57px;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-4 {
  top: 14px;
  left: 142px;
  position: absolute;
  width: 160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-5 {
  position: absolute;
  top: 16px;
  left: 543px;
  width: 262px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #0b0754;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .rectangle-4 {
  position: absolute;
  top: 92px;
  left: 43px;
  width: 1344px;
  height: 899px;
  background-color: #ffffff;
  border-radius: 40px;
}

.speaking .rectangle-5 {
  position: absolute;
  top: 115px;
  left: 57px;
  width: 1310px;
  height: 209px;
  background-color: #b0cafff5;
  border-radius: 40px;
}

.speaking .rectangle-6 {
  position: absolute;
  top: 232px;
  left: 103px;
  width: 474px;
  height: 64px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .rectangle-7 {
  position: absolute;
  top: 232px;
  left: 831px;
  width: 474px;
  height: 64px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .text-wrapper-6 {
  position: absolute;
  top: 115px;
  left: 557px;
  width: 274px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-7 {
  position: absolute;
  top: 166px;
  left: 445px;
  width: 513px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-8 {
  position: absolute;
  top: 230px;
  left: 202px;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-9 {
  position: absolute;
  top: 230px;
  left: 950px;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .rectangle-8 {
  position: absolute;
  top: 367px;
  left: 56px;
  width: 1310px;
  height: 209px;
  background-color: #3a5ba0b2;
  border-radius: 40px;
}

.speaking .rectangle-9 {
  position: absolute;
  top: 484px;
  left: 102px;
  width: 474px;
  height: 64px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .rectangle-10 {
  position: absolute;
  top: 848px;
  left: 396px;
  width: 609px;
  height: 123px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .rectangle-11 {
  position: absolute;
  top: 484px;
  left: 830px;
  width: 474px;
  height: 64px;
  background-color: #b0caff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .text-wrapper-10 {
  top: 367px;
  left: 556px;
  position: absolute;
  width: 274px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-11 {
  top: 418px;
  left: 444px;
  position: absolute;
  width: 513px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-12 {
  top: 482px;
  left: 201px;
  position: absolute;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-13 {
  top: 482px;
  left: 949px;
  position: absolute;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .rectangle-12 {
  position: absolute;
  top: 619px;
  left: 57px;
  width: 1310px;
  height: 209px;
  background-color: #b0cafff5;
  border-radius: 40px;
}

.speaking .rectangle-13 {
  position: absolute;
  top: 736px;
  left: 103px;
  width: 474px;
  height: 64px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .rectangle-14 {
  position: absolute;
  top: 736px;
  left: 831px;
  width: 474px;
  height: 64px;
  background-color: #dde8fe;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.speaking .text-wrapper-14 {
  top: 619px;
  left: 557px;
  position: absolute;
  width: 274px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-15 {
  top: 670px;
  left: 445px;
  position: absolute;
  width: 513px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-16 {
  top: 734px;
  left: 202px;
  position: absolute;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-17 {
  top: 734px;
  left: 950px;
  position: absolute;
  width: 216px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.speaking .text-wrapper-18 {
  position: absolute;
  top: 848px;
  left: 498px;
  width: 390px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
